@font-face {
    font-family: "Arizona";
    font-stretch: ultra-expanded;
    src: url(./res/fonts/ABC\ Arizona/ABC\ Arizona\ Text/ABCArizonaText-Regular-Trial.otf);
}

@font-face {
    font-family: "Gaisyr";
    src: url(./res/fonts/ABC\ Gaisyr/ABCGaisyr-RegularItalic-Trial.otf);
}

@font-face {
    font-family: "Synt";
    src: url(./res/fonts/ABC\ Synt\ Variable/ABCSyntVariable-Trial.ttf);
}

@font-face {
    font-family: "Simon";
    src: url(./res/fonts/ABC\ Simon\ Mono/ABCSimonMono-Regular-Trial.otf);
}

@font-face {
    font-family: "Menlo";
    src: url(./res/fonts/Menlo/Menlo-Regular.ttf);
}

@font-face {
    font-family: "Consolas";
    src: url(./res/fonts/Consolas/consolas.ttf);
}

/* Light */
body {
    height: 100vh;
    margin: 0px;
    position: relative;
}

.page {
    height: 200%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: transform 800ms ease-in-out;
}

.page[data-status="inactive"] {
    transform: translateX(-100%);
    transition: none;
}

.page[data-status="active"] {
    transform: translateX(0%);
}

.page[data-status="before"] {
    transform: translateX(-100%);
}

.page[data-status="after"] {
    transform: translateX(100%);
}

.page[data-status="becoming-active-from-before"] {
    transform: translateX(-100%);
    transition: none;
}

.page[data-status="becoming-active-from-after"] {
    transform: translateX(100%);
    transition: none;
}

.page-button {
    width: 100px;
    height: 100px;
    padding: 0;
    border: none;
    background: none;
    margin: 2%;
}

.left-arrow {
    transform: scaleX(-1);
    position: absolute;
    top: 0;
}

.right-arrow {
    position: absolute;
    top: 0;
    right: 0;
}

h1 {
    font-size: 48pt;
    margin: 10% 0 0 10%;
}

h6 {
    margin: 1% 0 0 10%;
}

h5 {
    margin: 1% 0 0 10%;
}

p {
    font-size: 20pt;
    text-align: justify;
    margin: 1% 0 0 10%;
    width: 20%;
}

.main-object {
    background-color: #17183B;
    width: 800px;
    height: 450px;
    position: absolute;
    top: 20%;
    left: 45%;
    border-radius: 10px;
    box-shadow:
    10px 10px 30px 0px #000;
        /* inner white */
        /* 0 0 2px 2px #fff, */
        /* middle magenta */
        /* 0 0 3px 3px #f0f, */
        /* outer cyan */
        /* 0 0 4px 4px #000; */
}

.top-bar {
    background-color: #11122C;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 15%;
    color: #fff;
    padding: 1%;
    padding-left: 5%;
    display: flex;
    align-items: center;
    font-family: 'Consolas';

}

.edit-me { 
    width: fit-content;
    transition: all 1s; 
      
}

#first {
    background-color: #F7F3E3;
    color: #07090F;
}

#first>h1 {
    font-family: "Arizona";
}

#first>h6 {
    font-family: "Helvetica";
    font-style: italic;
    font-weight: thin;
}

#first>h5 {
    font-family: "Helvetica";
}

#first>p {
    font-family: "Synt";
    font-style: italic;

}

#first>button {
    background-image: url(./res/icons/right-arrow.svg);
}

#second {
    background-color: #93A3B1;
    color: #0D2C54;
}

#second>h1 {
    font-family: "Consolas";

}

#second>h6 {
    font-family: "Helvetica";
    font-style: italic;
    font-weight: thin;
}

#second>h5 {
    font-family: "Helvetica";
}

#second>p {
    font-family: "Consolas";
    /* font-size: 16pt; */
}

#second>button {
    background-image: url(./res/icons/right-arrow-4.svg);
    color: aliceblue;
}

.color-1 {
    color: red;
}

.color-2 {
    color: purple;
}

.color-3 {
    color: tomato;
}

.color-4 {
    color: darkblue;
    font-style: italic;
}

#third {
    background-color: #C6B9CD;
}

#third>h1 {
    font-family: "Simon";
}

#third>h6 {
    font-family: "Helvetica";
    font-style: italic;
    font-weight: thin;
}

#third>h5 {
    font-family: "Helvetica";
}

#third>p {
    font-family: "Simon";
    font-style: italic;
    font-size: 18pt;
}

#third>button {
    background-image: url(./res/icons/harpoon.svg);
    background-size: cover;
    transform: rotate(-45deg);
}

#third>.left-arrow {
    transform: rotate(135deg);
}

@media only screen and (max-width: 768px) {

    .page-button {
        width: 50px;
        height: 50px;
        margin: 10%;
    }

    h1 {
        margin: 30% 0 0 10%;
    }

    p {
        width: 80%;
        margin: 3% 10% 0% 10%;
    }

    #second>h1 {
        font-size: 36pt;
        margin: 32% 0 0 10%;
    }
    
    #second>p {
        font-size: 16pt;

    }
    .main-object {
        position: static;
        display: inline-block;
        background-color: #17183B;
        width: 90%;
        margin-top: 10%;
        margin-left: 5%;
        height: 200px;
        font-size: 8pt;
        align-items: center;
    }
}